// Файл обнуляющих стилей
@import "_nullstyle";
// Импорт стилей
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
@import url('../fonts/font.css');

// Переменные для блока
$text-color: #212D55;
$active-color: #31BEF4;
$minor-color: #656D89;
//mixin=========
@mixin flexbox() {
	display:-webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	font-size: 0;
}
@mixin center() {
	justify-content: center;
	align-items: center;
}
@mixin fontstyle() {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 18px;
	color: $text-color;
	line-height: 21px;	
}
.wrapper {
	display: flex;
	min-height: 100%;
	overflow: hidden;
	flex-direction: column;
}
.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	@include flexbox();
	flex-direction: column;
}
.container {
	max-width: 1160px;
	padding: 0 10px;
	margin: 0 auto;
}
.header {
	position: absolute;
	width: 100%;
	z-index: 50;
	left: 0;
	top: 0;
	&__top {
		@include flexbox();
		@include center();
		height: 110px;
	}
	&__logo {
		margin: 0 80px 0 0;	
	}
	&__logo2, &__logo-burger {
		display: none;
	}
	&__top-menu {}	
	&__phone {
		@include flexbox();
		@include center();
		flex-direction: column;
	}
	&__phone span {
		font-family: 'Gilroy';
		font-weight: 600;
		font-size: 20px;
		color: $text-color;
		line-height: 24px;
		margin: 0 0 7px 0;
	}
	&__phone a {
		@include fontstyle();
		border-bottom: 1px solid;
	}
	&__bottom {
		@include flexbox();
		@include center();
		height: 81px;
		border-top: 1px solid #31BEF4;
		border-bottom: 1px solid #31BEF4;
	}
	&__bottom-menu {}

	@media (max-width: 1100px) {
		&__logo {
			margin: 0 60px 0 0;
		}
	}
	@media (max-width: 970px) {
		&__logo {
			margin: 0 30px 0 0;
		}
	}
	@media (max-width: 910px) {
		&__phone span {
			font-size: 16px;
		}
		&__phone a {
			font-size: 14px;
		}
	}
	@media (max-width: 767px) {
		&__top {
			justify-content: space-between;
			h2 {
				font-family: 'Gilroy';
				font-weight: 500;
				font-size: 18px;
				line-height: 40px;
				color: $text-color;
				padding: 0 50px 0 0;
			}
		}
		&__logo, &__logo-burger {
			display: none;
		}
		&__logo2 {
			display: flex;	
		}
		&__logo2_hidden {
			display: none;
		}
		&__top-menu, &__bottom-menu, &__phone {
			display: none;
		}
		&__bottom {
			border-top: none;
			border-bottom: none;
		}
		&__logo-burger_active {
			display: flex;
		}	
	}
}  
.header_bg {
	position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    overflow: auto;
    background-color: $text-color;
    padding: 0 0 20px 0;
    transition: all 0.2s ease 0s;
	z-index: 100;
}
.burger-menu {
	@media (max-width: 767px) {
		display: block;
		position: absolute;
		top: 46px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			position: absolute;
			top: 8px;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: #4d4959;
			transition: all 0.3s ease 0s;
			&:first-child{
				top: 0;
			}
			&:last-child {
				top: auto;
				bottom: 0;
			}
		}
		&.active {
			span{
				background-color: #fff;
				&:first-child {
					transform: rotate(-45deg);
    				top: 8px;
				}
				&:last-child {
					transform: rotate(45deg);
    				bottom: 8px;
				}
				&:nth-child(2) {
					transform: scale(0);
				}
			}
		}
	}
}
.menu {
	&__body {}
	&__list{
		@include flexbox();
		li {
			position: relative;
			padding: 0 16px;
			&:last-child {
				padding: 0 0 0 16px;
				margin: 0 103px 0 0;
			}
			&:first-child {
				padding: 0 16px 0 0;
			}
		}	
	}
	&__link {
		@include fontstyle();
		&:hover {
			color:#31BEF4;
		}
	}
	&__icon {}
	@media (max-width: 1100px) {
		&__list{
			li {
				padding: 0 8px;
				&:last-child {
					padding: 0 0 0 8px;
					margin: 0 51px 0 0;
				}
				&:first-child {
					padding: 0 8px 0 0;
				}
			}	
		}
	}
	@media (max-width: 970px) {
		&__list{
			li {
				&:last-child {
					margin: 0 20px 0 0;
				}
			}	
		}
	}
	@media (max-width: 910px) {
		&__list{
			li {
				&:last-child {
					margin: 0 8px 0 0;
				}
			}	
		}
		&__link {
			font-size: 14px;
		}
	}
}
.path {
	display: none;
	text-align: center;
	&__text {
		font-family: 'Gilroy';
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		color: $minor-color;
	}
}
@media (max-width: 767px) {
	body.lock {
	  overflow: hidden;
	}
	.path {
		display: block;
	}
}  
.main-menu {
	position: absolute;
	right: 12px;
	top: 65px;
	margin: 20px 0;
    display: block;
    height: 100%;
	&_hidden {
		display: none;
	}
}
.acor-container {
	height: 100% ;
	input {
		display: none;
	}
}
.acor-container .acor-body {
	display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin: 0;
    height: 0;
    box-sizing: border-box;
    transition: color 0.5s, padding 0.5s;
    overflow: hidden;
}
.acor-container .acor-body a {
	text-align: right;
}
.acor-container label {
	text-align: right;
    cursor: pointer;
    display: block;
    color: #FFF;
    box-sizing: border-box;
    z-index: 100;
    font-family: Raleway;
    font-size: 18px;
    line-height: 21px;
    transition: color .35s;
	&:hover {
		color: #FFF;
	}
}
.acor-container label:hover {
	color: #FFF
}
.acor-container label:before {
	content: '\2039';
    width: 10px;
    float: right;
    transform: rotate(-90deg);
}
.acor-container input:checked + label {
	color: #FFF;
}
.acor-container input:checked + label:before {
	transition: transform .35s;
    transform: rotate(90deg);
}
.acor-container input:checked + label + .acor-body {
	height: auto;
    color: #fff;
}               
.acor-container a {
	color: #FFFFFF;
    text-decoration: none;
}   
.menu-first {
	margin: 20px 0;
    font-weight: 600;
}
.acor-body a {
	display: block;
}
.menu-second {
	font-weight: 400;
	margin: 10px 0;
}
.menu-item {
	font-family: 'Raleway';
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;
    margin: 10px 0;
}
.contacts_sm{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #FFF;
    .callme{
        color: #FFF;
	}
}
.menu-phone{
	display: block;
    font-family: Gilroy;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
	margin: 20px 0;
}
.callme{
    font-family: Raleway;
    border: none;
    background: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-decoration: underline;
    cursor: pointer;
    &:hover{
        color: $active-color;
	}
}
.hidden {
	display: none;
}
//=======================
.main-screen {
	flex: 1 0 100%;
	position: relative;
	margin: 0 0 89px 0;
	&__bg img {
		position: absolute;
		max-width: 100%;
		height: 811px;
		top: 0;
		left: 0;
		object-fit: cover;
	}
	&__left img {
		position: absolute;
		top:647px;
		left: 0;
		}
	&__right img {
		position: absolute;
		top: 639px;
    	left: 623px;
	}
	&__blur-top{
		position: absolute;
		width: 100%;
		height: 110px;
		top: 0;
		left: 0;
		background: #F8F8F8;
		filter: blur(35px);
	}
	&__blur-bottom {
		position: absolute;
		width: 100%;
		height: 81px;
		top: 110px;
		left: 0;
		background: #F8F8F8;
		filter: blur(37.5px);
	}
}
//=======================
.main-block {
	position: absolute;
	top: 267px;
	left: 224px;
	word-wrap: break-word;
	&__container {
		margin: 0 auto;	
	}
	&__body {
		@include flexbox();
		flex-direction: column;
		align-items: center;
		margin: 0 0 41px 0;
		
	}
	&__title {
		font-family: 'Raleway';
		font-weight: 400;
		font-size: 60px;
		color: $text-color;
		margin: 0 0 28px 0;
		span {
			display: inline-block;
			font-weight:700;
		}
	}
	&__adress {
		font-family: 'Gilroy';
		font-weight: 400;
		font-size: 32px;
		color: $text-color;
		margin: 0 0 25px 0;
	}
	&__price {
		font-family: 'Gilroy';
		font-weight: 700;
		font-size: 35px;
		color: $text-color;
		margin: 0 0 35px 0;
	}
	&__button {
		font-family: 'Gilroy';
		font-weight: 600;
		font-size: 22px;
		color: #ffffff;
		background-color: $active-color;
		padding: 15px 26px;
		box-shadow: 0px 6px 0px #2CABDC;
		border-radius: 10px;
		transition: all 0.2s ease 0s;
		cursor: pointer;
		&:hover {
			background: $active-color;
			box-shadow: 0px 4px 20px #0B91C5;
			border-radius: 20px;
		}
	}
	&__info {

	}
	&__cards {
		display: flex;
	}
	&__card {

	}
}
@media (max-width: 1024px) {
	.main-block {
		left: 15px;
	}
}
@media (max-width: 768px) {
	.main-block {
		left: 15px;
		&__container {
			max-width: 740px;	
		}
		&__title {
			font-size: 28px;
			margin: 0 0 25px 0;
		}
		&__adress {
			font-size: 20px;
		}
		&__price {
			font-size: 24px;
			margin: 0 0 25px 0;
		}
		&__button {
			font-size: 20px;
		}
	}
}
@media (max-width: 425px) {
	.main-block {
		&__container {
			max-width: 485px;	
		}
		&__title {
			word-wrap: break-word;
		}
	}
}
.card {
	padding: 16px;
	background: #F9FCFD;
	box-shadow: 0px 5px 15px rgba(33, 45, 85, 0.2);
	border-radius: 10px;
	position: relative;
	margin: 0 36px 0 0;
	&:last-child {
		margin: 0;
	}
	&::before {
		content: '';
		position:absolute;
		width: 22px;
		height: 22px;
		background: #ffffff;
		border-radius: 50%;
		border: 6px solid #F9FCFD;
		top: 43%;
		left: 6px;	
	}
	&__body {
		width: 190px;
		padding: 20px 24px 20px 22px;
		background-color: #ffffff;
		box-shadow: 0px 5px 19px rgba(33, 45, 85, 0.06);
		border-radius: 10px;	
	}
	&__title {
		font-family: 'Gilroy';
		font-weight: 400;
		font-size: 22px;
		line-height: 26px;
		color: $text-color;
		margin: 0 0 8px 0;
	}
	&__price {
		font-family: 'Gilroy';
		font-weight: 700;
		font-size: 22px;
		line-height: 27px;
		color: $text-color;
	}
}
.card:hover {
	&::before {
		background: #31BEF4;
		box-shadow: 0px 8px 15px rgba(49, 190, 244, 0.25);
	}
}
//=======================
.about {
	margin: 0 0 100px 0;
	&__cards {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr; 
  		//grid-template-rows: 1fr 1fr; 	
	}
	&__columns {
		
	}
	&__card {
		@include flexbox();
		@include center();
		width: 262px;
		background-color:#F9FCFD;
		box-shadow: 0px 5px 15px rgba(33, 45, 85, 0.2);
		border-radius: 10px;
		padding: 35px 0 35px 0;
		margin: 0 30px 30px 0;
		position: relative;
		&:nth-child(2) {
			margin: 0 30px 0px 0;
		}
	}
	&__icon {
		background: #FFFFFF;
		box-shadow: 0px 5px 19px rgba(33, 45, 85, 0.06);
		border-radius: 10px;
		margin: 0 14px 0 0;
		position: relative;
		&::before {
			content: '';
			position:absolute;
			width: 10px;
			height: 14px;
			background: linear-gradient(to left, rgba(33, 45, 85, 0.06) 50%, transparent 50%);
			border-radius: 50%;
			top: 40%;
			left: -5px;	
			box-shadow: 0px 5px 19px rgba(33, 45, 85, 0.06);	
		}
	}
	&__icon img {
		padding: 12px 18px 12px 17px;	
	}
	&__column {

	}
	&__title {
		font-family: 'Gilroy';
		font-weight: 400;
		font-size: 22px;
		line-height: 26px;
		color: $text-color;
		margin: 0 0 17px 0;
	}
	&__text {
		font-family: 'Gilroy';
		font-weight: 600;
		font-size: 22px;
		line-height: 26px;
		color: $text-color;
	}
}
.about-pagination {
    display: flex;
    justify-content: space-between;
    margin: 60px auto 20px;
    align-items: center;
    width: 90px!important;
	&__element {   
		width: 10px;
		height: 10px;
		padding: 0;
		cursor: pointer;
		background: #FFFFFF;
		border: 1px solid $active-color;
		box-sizing: border-box;
		border-radius: 50%;
	}
}
.about-pagination__element-active{
    position: relative;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    filter: drop-shadow(0px 3px 15px #31BEF4);
    &>.about-pagination__active-point {
        position: absolute;
        width: 10px;
        border-radius: 50%;
        height: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $active-color;
	}
}
@media (max-width: 1024px) {
	.about {
		&__cards {
			padding: 0 0 0 25px;
		}
	}	
}
@media (max-width: 768px) {
	.about {
		&__cards {
			padding: 0 0 0 55px;
		}
	}	
}
@media (max-width: 425px) {
	.about {
		&__cards {
			padding: 0 0 0 70px;
		}
	}	
}
@media (max-width: 375px) {
	.about {
		&__cards {
			padding: 0 0 0 50px;
		}
	}	
}
@media (max-width: 320px) {
	.about {
		&__cards {
			padding: 0 0 0 20px;
		}
	}	
}
//=======================
.infrastructure {
	position: relative;
	margin: 0 0 80px 0;
	h2 {
		text-align: center;
	}
	&__title {
		font-family: 'Gilroy';
		font-weight: 700;
		font-size: 45px;
		line-height: 70px;
		color: $text-color;
		margin: 0 0 60px 0;
	}
}	
#mapid {
    height: 663px;
    position: relative;
}
.inf-swiper {
    position: absolute;
    z-index: 999;
    right: 190px;
    top: 50%;
    transform: translate(0, -50%);
    margin-top: 15px;
    height: 583px!important;
    width: 370px;
    overflow: hidden;
}
.layers {
    position: relative;
}
.inf-navigation-group {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95px;
    right: 10px;
    top: 0;
    z-index: 999;
}
.inf-prev {
    transform: rotate(90deg);
    background: #ffffff;
}
.inf-next {
    transform: rotate(-90deg);
    background: #ffffff;
}
.btn-navigation {
    width: 25px;
    height: 25px;
    box-shadow: 0px 3px 15px rgba(33, 45, 85, 0.1);
    border-radius: 50%;
    background: url('../../img/icons/arrow.svg');
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
	&:active {
		border: solid 1px $active-color;
		box-shadow: 0px 3px 15px rgba(49, 190, 244, 0.5);
	}
}
.item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 319px;
    height: 102px!important;
    background-color: #F9FCFD;
    box-shadow: 0px 5px 15px rgba(33, 45, 85, 0.2);
    border-radius: 10px;
    margin-bottom: 15px;
	&__btn {
		position: relative;
		display: flex;
		align-items: center;
		width: 286.34px;
		height: 72px;
		background: #FFFFFF;
		box-shadow: 0px 5px 19px rgba(33, 45, 85, 0.06);
		border-radius: 10px;
		border: none;
		cursor: pointer;
		overflow: hidden;
		&_active {
			color: $active-color;
		}
		&::before {
		 	content: '';
		 	position: absolute;
		 	width: 19.6px;
			height: 18px;
		 	left: -10px;
		 	background-color: #F9FCFD;
		 	box-shadow: inset 0px 5px 19px rgba(33, 45, 85, 0.06);
		 	border-radius: 50%;
		 	z-index: 2;
		}
	}
	&__icon {
		width: 76px;
		height: 76px;
		filter: drop-shadow(0px 3px 15px rgba(33, 45, 85, 0.15));
	}
	&__title {
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 600;
		font-size: 22px;
		line-height: 26px;
		pointer-events: none;
	}
}
.item-active {
    background: $active-color;
}
.leaflet-popup-content {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center!important;
    color: #31BEF4;
    margin: 0!important;
    padding: 0;
}
.leaflet-popup-content-wrapper {   
    width: 162px;
    height: 27px;
    background: #FFFFFF;
    box-shadow: 0px 3px 15px rgba(33, 45, 85, 0.15);
    border-radius: 10px;
    &::before{
        height: 0;
	}
}
.leaflet-popup-close-button{
    display: none;
}
//=======================
.descriptionGk {
	margin: 0 0 65px 0;
	&__subtitle {
		font-family: 'Gilroy';
		font-weight: 700;
		font-size: 45px;
		line-height: 70px;
		color: $text-color;
		text-align: center;
	}
	&__paragraph {
		font-family: Gilroy;
		font-style: normal;
		font-weight: 500;
		font-size: 22px;
		line-height: 26px;
		text-align: center;
		margin: 20px;
		color: $minor-color;
	}
}
.swiper 
.pagination {
	display: flex;
    margin: 30px auto 60px auto;
    width: 80%;
}
.desc-pagination {
    display: flex!important;
    margin-right: 40px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 193px;
    height: 102px;
    background: #F9FCFD!important;
    box-shadow: 0px 5px 15px rgba(33, 45, 85, 0.2);
    border-radius: 10px!important;
    margin-top: 15px;
    opacity: 1!important;
    padding: 15px!important;
}
.desc-pagination_active {
    >button {
        color: $active-color;
	}    
}
.pagination__btn {
    position: relative;
    display: flex;
    align-items: center;
    width: 286.34px;
    height: 72px;
    background: #FFFFFF;
    box-shadow: 0px 5px 19px rgba(33, 45, 85, 0.06);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
	&:hover {
		border: solid 1px $active-color;
	}
	&::after {
		content: '';
		position: absolute;
		width: 19.6px;
		height: 18px;
		left: -10px;
		background-color: #F9FCFD;
		box-shadow: inset 0px 5px 19px rgba(33, 45, 85, 0.06);
		border-radius: 50%;
		z-index: 2;
	}
}
.pagination__title {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
	margin: 0 auto;
}
.swiper-wrapper {}
.swiper-slide {}
.swiper-content {
	display: flex;
    justify-content: space-between;
    height: 573px;
    width: 100%;
}
.information {
	position: relative
}
.info-item {
	position: absolute;
    max-width: 538px;
    height: 300px;
    bottom: 54px;
    left: 27px;
    background: #FFFFFF;
    box-shadow: 0px 5px 19px rgba(33, 45, 85, 0.06);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
	&__header {
		display: flex;
		justify-content: space-between;
	}
	&__title {
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 700;
		font-size: 22px;
		line-height: 27px;
	}
	&__text {
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
	}
	&__text_hidden {

	}
}
.navigation-group {
	display: flex;
}
.btn-navigation {
	width: 25px;
    height: 25px;
    box-shadow: 0px 3px 15px rgba(33, 45, 85, 0.1);
    border-radius: 50%;
    background: url('../../img/icons/arrow.svg');
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
	&:hover {
		border: solid 1px $active-color;
    	box-shadow: 0px 3px 15px rgba(49, 190, 244, 0.5)
	}
}
.btn-prev {

}
.btn-next {
	transform: scaleX(-1);
    margin-left: 30px;
}
.photos {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    img {
		width: 100%
	}      
}
//=======================
.footer {
	background-color: #F9FCFD;
	box-shadow: 0px 5px 15px rgba(33, 45, 85, 0.2);
	&__title {
		font-family: 'Gilroy';
		font-weight: 700;
		font-size: 40px;
		line-height: 48px;
		text-align: center;
		padding: 50px 0 0 0;
		margin: 0 0 50px 0;
	}
	&__wrapper {
		@include flexbox();
		margin: 0 0 104px 0;
	}
	&__phone {

	}
	&__fillForm {

	}
}
.phone {
	border-right: 2px dashed #99ddf8;
	padding:62px 30px 62px 0;
	margin: 0 25px 0 0;
	&__title {
		font-family: 'Gilroy';
		font-weight: 700;
		font-size: 22px;
		line-height: 27px;
		text-align: center;
		margin: 0 0 20px 0;
	}
	&__row {
		@include flexbox();
		justify-content: center;
		align-items: center;
	}
	&__call {
		background: #FFFFFF;
		box-shadow: 0px 3px 15px rgba(33, 45, 85, 0.1);
		border-radius: 50%;
		margin: 0 11px 0 0;
		img {
			padding: 14px 14px 13px 13px;
		}	
	}
	&__number {
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 29px;
	}
}
.fillForm {
	@include flexbox();
	align-items: center;
	&__text {
		font-family: 'Gilroy';
		font-weight: 700;
		font-size: 16px;
		line-height: 19px;
		color: $text-color;
		text-align: center;
		margin: 0 71px 0 0;
	}
	&__column {
		p {
			font-family: 'Gilroy';
			font-weight: 500;
			font-size: 16px;
			color: #31BEF4;
			position: relative;
			margin: 0 0 25px 0;
			text-align: center;
			&::after {
				content: '';
				position: absolute;
				width: 7px;
				height: 7px;
				top: 4px;
				left: 188px;
				background-color: #31BEF4;
				box-shadow: inset 0px 5px 19px rgba(33, 45, 85, 0.06);
				border-radius: 50%;
			}
		}
	}
	&__form {
		@include flexbox();
		flex-wrap: wrap;
		margin: 0 0 27px 0;
	}
	
	&__checkbox {
		
	}
}
.form {
	&__inputWrap {
		position: relative;
		@include flexbox();
		align-items: center;
		justify-content: center;
		width: 249px;
		height: 72px;
		background: #FFFFFF;
		box-shadow: 0px 5px 19px rgba(33, 45, 85, 0.06);
		border-radius: 10px;
		border: none;
		overflow: hidden;
		z-index: 1;
		margin: 0 58px 25px 0;
		&::after {
			content: '';
			position: absolute;
			width: 19.6px;
			height: 18px;
			left: -10px;
			background-color: #F9FCFD;
			box-shadow: inset 0px 5px 19px rgba(33, 45, 85, 0.06);
			border-radius: 50%;
			z-index: 2;
		}
		input {
			z-index: 3;
			font-family: 'Gilroy';
			font-weight: 500;
			font-size: 18px;
		}
		&:nth-child(2) {
			margin:0 0 25px 0;
		}
		&:nth-child(3) {
			margin: 0 58px 0 0;
		}		
	}
	&__wrapBtn {
		@include flexbox();
		align-items: center;
		justify-content: center;
	}
	&__btn {
		font-family: 'Gilroy';
		font-weight: 600;
		font-size: 22px;
		line-height: 26px;
		color: #ffffff;
		background-color: $active-color;
		padding: 15px 27px;
		box-shadow: 0px 6px 0px #2CABDC;
		border-radius: 10px;
		transition: all 0.2s ease 0s;
		cursor: pointer;
		&:hover {
			background: $active-color;
			box-shadow: 0px 4px 20px #0B91C5;
			border-radius: 20px;
		}
	}
}
.checkbox {
		@include flexbox();
		align-items: center;
		justify-content: center;
	&__container {
		margin: 0 10px 0 0;
		input[type="checkbox"] {
			appearance: none;
			background-color: #fff;
			margin: 0;
			width: 20px;
			height: 20px;
			background: #FFFFFF;
			box-shadow: 0px 4px 13px rgba(34, 34, 34, 0.15);
			border-radius: 5px;
			&:checked {
				background: url('../../img/icons/check-mark.png') no-repeat center;
			}
		  }
	}
	&__text {
		font-family: 'Gilroy';
		font-weight: 400;
		font-size: 14px;
		text-align: center;
		color: $text-color;
		span {
			color: $active-color;
		}
	}
}
.checkmark {

}
@media (max-width: 1024px) {
	.fillForm {
		&__column {
			p {
				&::after {
					left: 140px;
				}
			}
		}
		&__form {
			justify-content: center;
		}		
	}
	.form {
		&__inputWrap {
			margin: 0 0 25px 0;
			&:nth-child(3) {
				margin: 0 0 25px 0;
			}
		}
	}
}
@media (max-width: 768px) {
	.footer {
		&__title {
			font-size: 28px;
			line-height: 34px;
			margin: 0 0 20px 0;
		}
		&__wrapper {
			display: block;
		}
	}
	.phone {
		border-right: none;
		border-bottom: 2px dashed #99ddf8;
		padding: 20px;
		margin: 0 auto 25px auto;
		&__title {
			font-size: 18px;
			line-height: 22px;
			margin: 0 0 10px 0;
		}
	}
	.fillForm {
		display: block;
		&__text {
			margin: 0 0 25px 0;
		}
		&__column {
			p {
				&::after {
					left: 282px;
				}
			}
		}
		&__form {
			flex-direction: column;
			align-items: center;
		}	
	}
	.checkbox {
		&__container {
			margin: 0 5px 0 0;
		}
	}
}
@media (max-width: 425px) {
	.fillForm {
		&__column {
			p {
				&::after {
					left: 112px;
				}
			}
		}
	}
}
@media (max-width: 425px) {
	.fillForm {
		&__column {
			p {
				&::after {
					left: 85px;
				}
			}
		}
	}
}
@media (max-width: 320px) {
	.phone {
		&__call {
			margin: 0 5px 0 0;
		}
	}
	.fillForm {
		&__column {
			p {
				&::after {
					left: 58px;
				}
			}
		}
	}
	.checkbox {
		&__container {
			margin: 0 auto;
		}
	}
}